<form action="/recipes" method="POST">
<input id="hidden" type="hidden" name="_method" value="patch">
  Name: <input type="text" value="<%=recipe.name%>" name= "name"></input>
  Ingrediants: <input type="text" value="<%=recipe.ingredients%>" name= "ingredients"></input>
  Cook Time:<input type="text" value="<%=recipe.cook_time%>" name= "cook_time"></input>
  <input type="submit" value="submit">
</form>
