<form action="/recipes" method="POST">
  Name: <input name= "name"></input>
  Ingredients: <input name= "ingredients"></input>
  Cook Time:<input name= "cook_time"></input>
  <input type= "submit">Submit</input>
</form>
